@import '../../styles/sass/container.module.scss',
'../../styles/sass/main.module.scss',
'../../styles/sass/text.module.scss',
'../../styles/sass/flex.module.scss';

.projectContainer {
    @include containerBlue();
    width: 100%;
    padding: 0;

    .projectImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        max-height: 25vh;
        object-fit: cover;
        border-radius: $container-border-radius-mobile $container-border-radius-mobile 0 0;
    }

    .projectBottomBar {
        padding: 3rem 3rem;
        @include flexColumn(center, start);

        .projectTitle {
            @include subTitle();
            @include breakText(2);
            max-width: 90%;
            display: inline-block;
            overflow-wrap: break-word;
        }

    }


}

@media (min-width:$desktop-width) {
    .projectContainer {
        max-width: 30vw;
    }

    .projectImg {
        border-radius: $container-border-radius $container-border-radius 0 0;
    }
}