@import '../styles/sass/text.module.scss', '../styles/sass/container.module.scss', '../styles/sass/main.module.scss', '../styles/sass/flex.module.scss';

.topBarContainer {
    @include flexRow(space-evenly, center);
    @include containerPrimary();

    position: absolute;
    left: 0;
    top: 2rem;
    max-width: 90vw;

    background-color: $primary-color-soft;
    border-radius: 0 100px 100px 0;
    padding: 2rem;
    text-align: center;

    img {
        border-radius: 100px;
        width: 40px;
        height: 40px;
    }
}

.topBarTitle {
    @include normalTitle();
    color: $typo-white;
}

// .projectList {
//     @include gridColumn(center, center);
//     gap: 4rem;
// }

// @media (min-width: $desktop-width) {
//     .projectList {
//         grid-template-columns: repeat(3, 33%);
//         width: 100%;
//     }
// }