@mixin simple-button($color) {
  background-color: $color;
  padding: 1rem 6rem;
  text-align: center;
  border-radius: 100px;
  font-size: 2rem;
  color: $white;
  @include medium-type();
  box-shadow: $box-shadow;

  &:focus {
    outline: none;
  }
}

@mixin primary-button() {
  @include simple-button($primary-color);
  box-shadow: $shadow-color-primary;

  &:hover {
    background-color: $primary-color-soft;
  }
}

@mixin secondary-button() {
  @include simple-button($primary-color);
  box-shadow: $shadow-color-primary;

  &:hover {
    background-color: $primary-color-soft;
  }
}

// .simple-button {
//   border: none;
//   background-color: #ffffff00;
//   cursor: pointer;

//   &:focus {
//     outline: none;
//   }
// }
