// Base Colors
$white: #FFF;
$black: #000;

$primary-color:#489fdf;
$secondary-color:#f9423a;

$primary-color-soft:#78afe0;
$secondary-color-soft:#f39a85;


// Typo
$typo-black: #1a1a1a;
$typo-white: #ffffff;
$typo-grey: #a7a7a7;


// Shadows
$shadow-color-primary:#48a0df29;
$shadow-color-secondary:#E73C3E29;


// Darkmode changes
$background-color: #fefefe;
//$background-color: #333333;
//$container-background-color: #242424;
$container-background-color: #f0f2f4;
