@import 'colors.module.scss', 'main.module.scss';

.simple-a {
  outline: none;
  color: $typo-black;
  text-decoration: none;
}

.text-color {
  color: $typo-black;
}

.d-none {
  display: none;
}

.no-padding {
  padding: 0 !important;
}

.page-title {
  @include BigTitle();
  color: $primary-color;
}

.desktop {
  display: none;
}

@media (min-width: $desktop-width) {
  .desktop {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }
}