// Base Colors
$white: #FFF;
$black: #000;

$primary-color:#489fdf;
$secondary-color:#f9423a;

$primary-color-soft:#78afe0;
$secondary-color-soft:#f39a85;


// Typo
$typo-black: #1a1a1a;
$typo-white: #ffffff;
$typo-grey: #a7a7a7;


// Shadows
$shadow-color-primary:#48a0df29;
$shadow-color-secondary:#E73C3E29;


// Darkmode changes
$background-color: #fefefe;
//$background-color: #333333;
//$container-background-color: #242424;
$container-background-color: #f0f2f4;



//Delete
$soft-blue: #78afe0;
$soft-red: #f39a85;
$soft-yellow: #fde660;
$blue: #489fdf;
$red: #f9423a;
$yellow: #fbe122;

$shadow-color-blue: rgba(72, 160, 223, 0.16);
$shadow-color-red: #E73C3E29;
$shadow-color-yellow: rgba(251, 225, 34, 0.16);